<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop Login</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        body {
            margin-top: 150px;
        }
    </style>
</head>

<body>

    <!-- navbar -->

    {% include 'navbar.html' %}

    <!-- end of navbar -->



    <div class="container p-2 d-flex  flex-column" style="margin-bottom: 3.9rem !important;margin-top: 3rem;">
        <div class="border rounded-3">
            <div class="border-bottom rounded-3 px-3 py-2" style="background: #f8f8f8;">
                <h5 class="text-orange fw-bold">Contact Us</h5>
            </div>
            <form class="d-flex w-full b flex-column  gap-2 p-4">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Enter your name">
                </div>
                <div>
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter your email">
                </div>
                <!-- message -->
                <div>
                    <label for="message" class="form-label">Message</label>
                    <textarea name="message" id="message" cols="30" rows="5" class="form-control"
                        placeholder="Enter your message"></textarea>
                </div>
                <div class="my-2">
                    <button class="btn btn-outline-light rounded-3 " type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>


    <!-- footer -->

    {% include 'footer.html' %}

    <!-- end of footer -->

</body>

</html>