<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eShop Login</title>
    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <style>
        body {
            margin-top: 100px;
        }
    </style>

</head>

<body>

    <!-- navbar -->

    {% include 'navbar.html' %}

    <!-- end of navbar -->





    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->

        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Profile Picture</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img   class="rounded-circle img-fluid" style="width: 250px; margin: 31px; height: 240px;"
                            src="{{profile.profileimage.url}}"  alt="">
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">

                        <!-- IMPORTANT -->

                        <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="small mb-1" for="inputUsername">Username</label>
                                <input class="form-control" id="inputUsername" type="text" name="username"
                                    placeholder="Enter your username" value="{{profile.username}}">
                            </div>

                            <!-- <div class="row gx-3 mb-3">

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName">First name</label>
                                    <input class="form-control" id="inputFirstName" type="text"
                                        placeholder="Enter your first name" value="Valerie">
                                </div>

                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Last name</label>
                                    <input class="form-control" id="inputLastName" type="text"
                                        placeholder="Enter your last name" value="Luna">
                                </div>
                            </div> -->

                            <div class="mb-3">
                                <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                <input class="form-control" id="inputEmailAddress" type="email" name="email"
                                    placeholder="Enter your email address" value="{{profile.email}}">
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="inputOrgName">Password</label>
                                <input class="form-control" name="password" id="inputOrgName" type="text"
                                    placeholder="Enter your Password" value="{{profile.password}}">
                            </div>

                            <!-- <div class="mb-3">
                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                <input class="form-control" id="inputPhone" type="tel"
                                    placeholder="Enter your phone number" value="">
                            </div> -->

                            <input name="profileimage" type="file" class="small font-italic text-muted mb-4">

                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- footer -->

    {% include 'footer.html' %}

    <!-- end of footer -->


</body>

</html>